/* PROJECTS */
.projects-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0 200px;
}

.projects-names ul {
  list-style: none;
  font-size: 44px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects-names {
  width: 100%;
  justify-content: center;
  display: flex;
}

.projects-img {
  width: 100%;
  justify-content: center;
  display: flex;
}

.projects-names li {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    color: #da4ea2;
    -webkit-text-stroke: 1px #fff;
  }
}

/* MOBILE DEVICES */
.mobile-projects-container {
  display: none;
}

/* RESPONSIVE DESEIGN */
@media (max-width: 468px) {
  .mobile-projects-container {
    display: block;
    padding-top: 200px;

  }

  .projects-content {
    display: none;
  }

  .projects-img {
    flex-direction: column;
    gap: 80px;
    height: 100%;
  }
}

@media (min-width: 469px) and (max-width: 768px) {
  .mobile-projects-container {
    display: block;
    padding-top: 200px;
  }

  .projects-content {
    display: none;
  }

  .projects-img {
    flex-direction: column;
    gap: 80px;
    height: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .mobile-projects-container {
    display: block;
    padding-top: 200px;
  }

  .projects-content {
    display: none;
  }

  .projects-img {
    flex-direction: column;
    gap: 80px;
    height: 100%;
  }
}