.section-about {
  display: flex;
}

.row300 {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 250px;
}

.about-title {
  color: #08fdd8;
  font-family: "Press Start 2P", cursive;
  font-size: 48px;
  font-weight: 900;
  text-align: start;
  padding: 10px;
}

.about-text {
  width: 80%;
}

.linkto {
  width: 30%;
  color: #08fdd8;
}
.linkto:hover {
  color: #08fdd881;
}

.row300 div p {
  font-family: sans-serif;
}

#avatar2 {
  width: 650px;
  height: 650px;
  opacity: 0.9;
  position: fixed;
  left: 800px;
  top: 330px;
}
