/* CONTACT-FORM BUTTON */
button {
    border: 1px solid #08fdd8;
    padding: 15px 40px;
    cursor: pointer;
    font-family: 'Silkscreen', cursive;
    outline: none;
    background: transparent;
    color: #08fdd8;
    font-weight: 600;
    font-size: 17px;
    border-radius: 2px;
  }
  
  .contact-text:hover button {
    background: #08fdd8;
    color: #000;
    left: -5px;
    top: 0;
    transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transform: skewX(-5deg);
  }
  
  .send-bnt {
    left: 70%;
  }