ul {
  list-style-type: none;
}

a {
  color: rgba(255, 255, 255, 0.473);
  text-decoration: none;
}

a:-webkit-any-link {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0 auto;
}

/* ALL-MENU */
.menu-container {
  width: 8rem;
  height: 100vh;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  z-index: 2;
  lefT: 0;
  top: 0;
  right: auto;
  bottom: 0;
}

/* HOME-LINK */
.home-icon {
  padding: 5px 4px;
  margin-top: -20px;
  padding-bottom: 15px;
  width: 10rem;
  height: 200px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-text {
  width: 10rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(255, 255, 255, 0.452);
  font-size: small;
}

/* NAV-LINKS */
.nav-container {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: "Open Sans",sans-serif;
}

.info-routes {
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
  width: 130px;
  padding: 18px;
  text-align: center;
}

.extra-border {
  border-top: 1px solid rgba(255, 255, 255, 0.096);
}

.info-routes:hover {
  color: #08fdd8;
  transition: color 0.3s;
}

/* SOCIAL-LINKS */
.socials {
  width: 8rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-bottom: 150px;
  padding-right: 45px;
}

ion-icon {
  width: 20px;
  height: 20px;
}

ion-icon:hover {
  color: #08fdd8;
  transition: color 0.3s;
}