ul {
  list-style-type: none;
}

a {
  color: rgba(255, 255, 255, 0.473);
  text-decoration: none;
}

a:-webkit-any-link {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0 auto;
}

/* ALL-MENU */
.menu-container {
  width: 8rem;
  height: 100vh;
  background-color: #1818189f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  z-index: 2;
  lefT: 0;
  top: 0;
  right: auto;
  bottom: 0;
}

/* HOME-LINK */
.home-icon {
  padding: 5px 4px;
  margin-top: -20px;
  padding-bottom: 15px;
  width: 10rem;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-text {
  width: 100%;
  height: 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.D {
  position: absolute;
  height: 80px;
  width: 100%;
  text-align: center;
  padding-top: 38px;
  padding-left: 20px;
  color: #08fdd8;
  font-family: 'Press Start 2P', cursive;
  font-size: 88px;
}

.D:hover {
  color: rgb(235, 165, 165);
  -webkit-text-stroke: 1px #08fdd8;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(255, 255, 255, 0.452);
  font-size: small;
}

/* NAV-LINKS */
.nav-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Silkscreen', cursive;
}

.info-routes {
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
  width: 130px;
  padding: 20px;
  text-align: center;
}

.extra-border {
  border-top: 1px solid rgba(255, 255, 255, 0.096);
}

.info-routes:hover {
  color: #08fdd8;
  transition: color 0.3s;
}

/* SOCIAL-LINKS */
.socials {
  width: 8rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-bottom: 150px;
  padding-right: 45px;
}

ion-icon {
  width: 20px;
  height: 20px;
}

ion-icon:hover {
  color: #08fdd8;
  transition: color 0.3s;
}