.resume-container {
  width: 100vh;
  height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 80px 250px;
  color: #fff;
  z-index: 1000;
}

button:hover {
  background: #08fdd8;
  color: #000;
  left: -5px;
  top: 0;
  transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transform: skewX(-5deg);
}

.button-download {
    width: 100vh;
    display: flex;
    justify-content: center;
    padding-left: 220px;
}

.flex-box {
  display: flex;
  flex-direction: column;
}

.document-container {
  padding-top: 100px;
  padding-left: 150px;
}

.react-pdf__Page__textContent {
  visibility: hidden;
}