/* APP */
body {
  background-color: #ffffff8c;
  height: 100vh;
  width: 100%;
  /* height: 200vh; */
  user-select: none;
}

body::before {
  /* filter: blur(4px); */
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background-color: #3647452f;
  pointer-events: none;
  transform: skewX(-15deg);
  /* height: 200vh; */
}

/* HOME */
.row1 {
  padding: 285px 250px 0 250px;
  display: flex;
}

.row2 {
  width: 700px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intro {
  width: 550px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li {
  text-decoration: none;
  list-style: none;
}

.paragraph {
  color: grey;
  font-family: "Figtree", sans-serif;
}

#avatar {
  width: 650px;
  height: 650px;
  opacity: 1;
  position: fixed;
  left: 750px;
  top: 330px;
}

.balls {
  display: inline-block;
  padding-left: 570px;
  padding-top: 100px;
}

.ball {
  width: 200px;
  height: 200px;
}

.sec-home {
  width: 205px;
}

/* ABOUT */
.section-about {
  display: flex;
}

.row300 {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 250px;
}

.about-title {
  color: #08fdd8;
  font-family: "Press Start 2P", cursive;
  font-size: 48px;
  font-weight: 900;
  text-align: start;
  padding: 10px;
}

.about-text {
  width: 80%;
}

.linkto {
  width: 250px;
  color: #00ffd9;
}
.linkto:hover {
  color: #08fdd881;
}

.row300 div p {
  width: 710px;
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

.balls {
  width: 200px;
  height: 200px;
  opacity: 1;
  position: fixed;
  left: 800px;
  top: 280px;
}

/* MY SKILLS */
/* SECTION TITLE AND TEXT */
.skills-title {
  color: #08fdd8;
  font-family: "Press Start 2P", cursive;
  font-size: 48px;
  font-weight: 900;
  text-align: start;
  padding: 10px;
}

.section-skills {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  padding: 0 250px;
}

.skills-text {
  width: 75%;
}

.skills-text p {
  font-family: sans-serif;
  font-size: 16px;
  color: #000;
}

/* TABLE SKILLS */
.skills {
  text-align: left;
  color: rgb(75, 75, 75);
  font-family: sans-serif;
  font-size: 18px;
}

table {
  top: 400px;
  left: 1130px;
  position: absolute;
  width: 60vh;
  height: 40vh;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

th {
  padding-left: 30px;
}

tr {
  display: flex;
  flex-direction: column;
}

td {
  padding-top: 10px;
  padding-bottom: 30px;
}

.skills tbody tr td div {
  display: block;
}

.front-end {
  margin-left: 30px;
  padding: 1px 80px;
  background-image: linear-gradient(to right, #08fdd8 80%, #373737 20%);
  border-radius: 5px;
}
.back-end {
  margin-left: 30px;
  padding: 1px 80px;
  background-image: linear-gradient(to right, #fd2d08 50%, #373737 50%);
  border-radius: 5px;
}
.react {
  margin-left: 30px;
  padding: 1px 80px;
  background-image: linear-gradient(to right, #fd8b08 75%, #373737 25%);
  border-radius: 5px;
}

/* PROJECTS */
.magicwall {
  background-color: rgba(255, 255, 255, 0.1);
  height: 100vh;
  width: 100%;
}

.magicwall ul {
  list-style: none;
  display: flex;
  /* flex-direction: row; */
  display: -ms-flexbox;
  display: -webkit-box;
  flex-wrap: wrap;
  /* padding: 0 167px; */
  padding-left: 167px;
  /* border: 1px solid red; */
}

.magicwall ul li {
  width: 412px;
  height: 326px;
  position: relative;
  overflow: hidden;
  display: list-item;
}

.magicwall .magicwall-item {
  border: 1px solid rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transition 0.5s, opacity 0.5;
  transition: transition 0.5s, opacity 0.5, -webkit-transform 0.5s;
}

.magicwall img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1000;
  opacity: 1;
}

.magicwall ul li:hover .magicwall-item {
  transform: scale(1.14);
  -ms-transform: scale(1.14);
  -webkit-transform: scale(1.14);
}

.magicwall ul li a.colorbox {
  display: block;
  position: absolute;
  margin-left: 65px;
  margin-top: 15px;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: url(../src/assets/images/circle.png) no-repeat center;
  box-shadow: 0 25px 45px #08fdd848;
  opacity: 0;
  transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  transform: scale(0.2);
}

.magicwall ul li:hover a.colorbox {
  transform: scale(0.4);
  opacity: 1;
  border-radius: 1000px;
}

.magicwall ul li a.colorbox {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 50px grey;
}

.magicwall ul li a.colorbox p {
  /* border: 1px solid red; */
  width: 260px;
  font-size: 28px;
  font-family: "Press Start 2P", cursive;
}

.lazyload img {
  opacity: 0.5;
}

/* RESUME */
.resume-container {
  width: 100vh;
  height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 80px 250px;
  color: #fff;
  z-index: 1000;
}

button:hover {
  background: #08fdd8;
  color: #000;
  left: -5px;
  top: 0;
  transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transform: skewX(-5deg);
}

.button-download {
    width: 100vh;
    display: flex;
    justify-content: center;
    padding-left: 220px;
}

.flex-box {
  display: flex;
  flex-direction: column;
}

.document-container {
  padding-top: 100px;
  padding-left: 150px;
}

.react-pdf__Page__textContent {
  visibility: hidden;
}

.react-pdf__Page {
  border: 2px solid rgb(73, 235, 213);
  border-radius: 20px;
}

.resume {
  margin-top: 10px;
  z-index: 1000;
}