body {
  background-color: #1d1d1d;
  height: 100vh;
  /* height: 200vh; */
  width: 100%;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  /* height: 200vh; */
  background-color: #08fdd815;
  pointer-events: none;
  transform: skewX(-15deg);
}

/* MOBILE CSS */
@media (max-width: 768px) {
  /* MENU */
  .menu-container {
    visibility: hidden;
  }

  /* CONTACT FORM */
  form {
    width: 30rem;
    top: 100px;
    left: 140px;
  }
  .contact-title {
    font-size: 45px;
  }
  p {
    font-size: 15px
  }
  .contact-container .row100 .col button[type="submit"] {
    padding: 10px 30px;
    font-size: 14px;
  }
  .send-bnt {
    left: 22%;
  }
  .contact-container .row100 .col .input-box .text,
  .contact-container .row100 .col .input-box-name .text,
  .contact-container .row100 .col .input-box-message .text {
    font-size: 16px;
  }
  .row {
    width: 350px;
    height: 350px;
    text-align: left;
  }

  /* HOME */
  .home-title {
    font-size: 60px;
  }
  .row1 {
    padding: 225px 250px 0 120px;
  }
  body::before {
    height: 150vh;
  }
  #avatar {
    left: 250px;
    top: 500px;
    width: 450px;
    height: 450px;
  }
  li {
    width: 100%;
    color: rgb(235, 165, 165);
    -webkit-text-stroke: 1px #08fdd856;
  }
}